<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.MathSymbols</key>
	<array>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>plus</string>
	</array>
	<key>.TabNumber</key>
	<array>
		<string>zero'</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>Euro</string>
		<string>sterling</string>
		<string>florin</string>
		<string>cent</string>
		<string>yen</string>
		<string>section</string>
	</array>
	<key>.dashes</key>
	<array>
		<string>hyphen'</string>
		<string>underscore</string>
		<string>endash</string>
		<string>emdash</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>hyphen</string>
		<string>equal</string>
		<string>asciitilde</string>
	</array>
	<key>.pointLR</key>
	<array>
		<string>period'</string>
		<string>ellipsis</string>
		<string>period_helper</string>
	</array>
	<key>.pointbrackets</key>
	<array>
		<string>less'</string>
		<string>greater</string>
		<string>guil_helper</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
	</array>
	<key>.points</key>
	<array>
		<string>colon'</string>
		<string>semicolon</string>
		<string>comma</string>
		<string>period</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>periodcentered</string>
		<string>period_helper</string>
	</array>
	<key>.printCSS</key>
	<array>
		<string>logo</string>
		<string>logoeye</string>
		<string>thumbbackup</string>
		<string>sparrow</string>
		<string>envelope</string>
		<string>warningsign</string>
		<string>printer</string>
		<string>returnsymbol</string>
		<string>whitecircle</string>
		<string>blackcircle</string>
		<string>fontversion</string>
	</array>
	<key>.quoteL</key>
	<array>
		<string>quotedblleft'</string>
		<string>quoteleft</string>
		<string>quote_helper</string>
	</array>
	<key>.quoteR</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>.quoteStraight</key>
	<array>
		<string>quotedbl'</string>
		<string>quotesingle</string>
		<string></string>
	</array>
	<key>.straightLeft</key>
	<array>
		<string>exclam'</string>
		<string>zero</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>U</string>
		<string>bracketleft</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>mu</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>A_smal</string>
		<string>E_smal</string>
		<string>O_smal</string>
		<string>I_smal</string>
		<string>U_smal</string>
		<string>N_smal</string>
		<string>C_smal</string>
		<string>exclam</string>
	</array>
	<key>.straightRight</key>
	<array>
		<string>exclam'</string>
		<string>parenright</string>
		<string>zero</string>
		<string>one</string>
		<string>three</string>
		<string>four</string>
		<string>nine</string>
		<string>A</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>Q</string>
		<string>U</string>
		<string>bracketright</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>mu</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>A_smal</string>
		<string>O_smal</string>
		<string>I_smal</string>
		<string>U_smal</string>
		<string>N_smal</string>
		<string>exclam</string>
	</array>
</dict>
</plist>
